*{
    margin:0px;
    padding:0px;
}
.main{
    background-color: black;
    /* width:100%;
    display: grids; */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* column-gap: 20px;
    height:100vh;
    padding-top: 100px; */
}
.map-users-padding .mobile-responsive-w-100 {
    width: auto;
  }
.item{
    background-color: green;
    width:25%;
    border:2px solid pink;
    border-radius: 20px;
    height:100px;
   display: inline-block;
   margin: 0px 20px 0px 20px;
    
}
.list{
  background-color: red;
}
/* .item:hover{
    background-color: yellow;
    color:black;
} */
.active{
    background-color: "yellow";
}